.infoBlock{
    background-color: $background;
    aspect-ratio: 1.7/1;
    display: inline-block;
   
    margin-left: 4vw;
    @include shadow;
    padding-top: 10vh;

    h4, h5, p{
        color: white;
        margin-top: 5vh;
    }
    
}