@import "/src/components/Landing.scss";
@import "/src/components/subcomponents/Button/Button.scss";
@import "/src/components/mainPage.scss";
@import "/src/components/subcomponents/Navigation/Navigation.scss";
@import "/src/components/subcomponents/moneyInfo/info.scss";

.content{
    background-color: $background;
    
}

html{
    background-color: $background;
    padding: 0 !important;
}

.container-fluid{
    padding: 0 !important;
}
